* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {

}

button {
    background-color: #45B3AC;
    border: none;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    padding: 16px 65px;
    min-width: 100%;
}


@media screen and (min-width: 320px) {
    header {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-basis: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-color: #28323C;
        margin: 0;
        padding: 5px;
    }
    article {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px 10px 10px;
        margin:  10px 5px 10px 5px;
        max-width: 100%;

    }
    section {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 0px 10px 10px 10px;
        margin:  0px 5px 5px 5px;
        border-bottom: solid 8px black;
    }

    form {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px 0px 10px 0px;
        margin:  10px 0px 10px 0px;
        border-top: solid 4px black;
        max-width: 100%;
    }

    button {
        background-color: #45B3AC;
        border: none;
        border-radius: 4px;
        color: white;
        display: inline-block;
        margin-top: 1%;
        padding: 16px 65px;
        font-size: 1rem;
    }

    fieldset {
        padding: 10px 0px 10px 0px;
        margin:  10px 0px 10px 0px;
        border: none;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    fieldset:first-of-type {
        border-bottom: 1px solid black;

    }

    legend {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 40px 0 20px 0;
        margin:  10px 0px 10px 0px;
        font-weight: 700;
        font-size: 1.5em;

    }

    h1 {
        display: flex;
        display: -webkit-flex;
        align-self: center;
        font-family: 'Merriweather', serif;
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
        padding: 0px 0px 10px 0px;
        margin:  0px 0px 10px 0px;
    }

    h2 {
        display: flex;
        display: -webkit-flex;
        align-self: center;
        font-size: 1.2rem;
        padding: 10px 0px 10px 0px;
        margin:  10px 0px 10px 0px;
    }

    p {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;
        color: #A8ACB0;
        text-align: center;
        padding: 10px 0px 10px 0px;
        margin:  10px 0px 10px 0px;

        }

    input {
            border-radius: 5px;
        }

    input[type=text]::placeholder { /* Firefox 19+ */
        color: #989EA3 !important;
        font-style: italic;
    }

    input[type=number] {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
        transition: background-color 2s;
        flex-grow: 1;
        flex-basis: 50%;
        border: none;
        background-color: #EDEEEF;
        padding: 10px 10px 10px 10px;
        margin:  10px 0px 10px 0px;
        text-align: end;
        color: #989EA3;
        min-height: 25px;
        line-height: 40px;
    }

    input[type=radio] {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 5%;
        align-self: center;
        align-items: center;
        padding: 10px 10px 10px 10px;
        margin:  10px 0px 10px 0px;
    }

    input[type=text], input[type=tel] {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
        transition: background-color 2s;
        flex-grow: 1;
        flex-basis: 100%;
        border: none;
        background-color: #EDEEEF;
        padding: 10px 10px 10px 10px;
        margin:  10px 0px 10px 0px;
        text-align: end;
        color: #989EA3;
        min-height: 25px;
        line-height: 40px;
    }

    select {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
        transition: background-color 2s;
        flex-grow: 1;
        border: none;
        background-color: #EDEEEF;
        padding: 10px 10px 10px 10px;
        margin:  10px 0px 10px 0px;
        text-align: end;
        font-style: italic;
        color: #989EA3;
        min-height: 25px;
        line-height: 40px;
  }

    input[type=checkbox] {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-self: center;
        flex-basis: 5%;
        margin-right: 10px;
    }

    input[type=text]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus, select:focus {
        border-color: #3D5E80;

    }

    label {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        flex-basis: 100%;
        margin-top: 1%;
        margin-bottom: 1%;
        text-align: left;
        font-size: 1em;
        color: #405365;
    }

    textarea {
        resize: none;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        flex-basis: 100%;
        flex-grow: 1;
        border: none;
        background-color: #EDEEEF;
        border-radius: 5px;
        padding: 10px 0px 10px 0px;
        margin:  10px 0px 10px 0px;

    }

    footer {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        flex-basis: 100%;
        align-self: center;

    }

    .input {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 5px;
        margin: 5px;
    }

    .last {
        margin-bottom: 1%;
    }

    .select, .news {
        text-align: left;
    }


    .radioinput {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-self: center;
        align-items: center;
        margin-right: 10px;
    }
}

@media screen and (min-width: 768px) {

    header {
        display: flex;
        display:-webkit-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        background-color: #28323C;
        margin: 0;
    }
    article{
        display: flex;
        display:-webkit-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 5px;
        padding: 5px;
            }

    section {
        display: flex;
        display:-webkit-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 38%;
        margin: auto;
        padding: 20px 20px;
        border-bottom: solid 4px black;
    }

    form {
        margin: 5px auto auto auto;
        padding: 10px auto auto auto;
        border-top: solid 1.5px black;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        width: 40%;
    }

    button {
        background-color: #45B3AC;
        border: none;
        border-radius: 4px;
        color: white;
        display: inline-block;
        margin-top: 1%;
        padding: 16px 65px;
    }

    fieldset {
        margin: 0;
        padding: 0;
        border: 0 none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

        fieldset:first-of-type {
            border-bottom: 1px solid black;

        }

    legend {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 40px 0 20px 0;
        font-weight: 700;
        font-size: 1.5em;


    }

    h1 {
        font-family: 'Merriweather', serif;
        font-size: 2.5em;
        color: white;
        text-transform: uppercase;
        padding: 20px 10px 20px 10px;
    }

    p{
        padding: 10px 10px 10px 10px;
        color: #A8ACB0;
        font-weight: 100;

    }

    input {
        border-radius: 5px;
    }

    input[type=text]::placeholder {  /* Firefox 19+ */
        color: #989EA3!important;
        font-style: italic;
    }

    input[type=number] {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        border: none;
        background-color: #EDEEEF;
        width: 50%;
    }

    input[type=radio] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-basis: 5%;
        align-self: center;
        align-items: center;
        margin-right: 10px;
    }

    input[type=text], input[type=tel] {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        transition: background-color 2s;
        flex-grow: 1;
        flex-basis: 100%;
        border: none;
        background-color: #EDEEEF;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        text-align: end;
        color: #989EA3;
    }

        select {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: flex-end;
            transition: background-color 2s;
            flex-grow: 1;
            flex-basis: 100%;
            border: none;
            background-color: #EDEEEF;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 10px;
            text-align: end;
            color: #989EA3;
            min-height: 25px
        }
        option {
        }

    input[type=checkbox] {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-self: center;
        flex-basis: 5%;
    }

    input[type=text]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus, select:focus{
        border-color: #3D5E80;

    }


    label {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
        margin-top: 1%;
        margin-bottom: 1%;
        text-align: left;
        font-size: 1em;
        color: #405365;
    }


    textarea {
        display: flex;
        justify-content: center;
        flex-basis: 100%;
        min-width: 100%;
        flex-grow: 1;
        border: none;
        background-color: #EDEEEF;
        border-radius: 5px;

    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        flex-basis: 100%;
        align-self: center;

    }

    .input {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        align-self: center;
        align-items: center;
        flex: 1;
        margin: 0px;
        padding: 0px 5px 5px 5px;
    }


    .last {
        margin-bottom: 1%;
    }
    .select, .news {
        text-align: left;
        font-size: 100px;
        padding: 100px;
    }

    .radioinput {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-self: center;
            align-items: center;
            margin-right: 10px;
        }
    }